
h1{
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1%;
  margin: 0% 30%;
}

h2{
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1%;
  text-align: center;
  font-style: italic;
  font-family: "Calibri", sans-serif;
}

h4{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1%;
  text-align: center;
}

.topicdiv{
  border: solid #c45637 3px;
  width: 100%;
  border-radius: 10px;
  padding: 1% 3%;
  overflow: auto;
  color: white;
  margin: 1% 0%;
  display: inline-flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom,rgba(243, 188, 134, 0.9), rgba(240,166,93,0.9));
}

.topicdiv1{
  width: 100%;
  height: auto;
  border: solid #a8492f 4px;
  margin: 1% 0%;
  min-width: 70%;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom,rgb(240,166,93), rgb(226,109,76));
}

.endorsers{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.about2bodytext{
  width: 100%;
  height: auto;
  border: solid rgba(255, 255,255, 0.8); 3px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgb(20,20,20),rgb(70,70,70));
  float: left;
  padding: 1% 1%;
  margin: 5px;
  font-size: 13px;
  text-align: justify;
  display: inline-block;
  justify-content: center;
}

.topicdiv2{
  border: solid #c45637 4px;
  width: 100%;
  border-radius: 10px;
  padding: 1% 3%;
  overflow: auto;
  color: white;
  margin: 1% 0%;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  background-image: linear-gradient(to bottom,rgba(243, 188, 134, 0.9), rgba(240,166,93,0.9));
}

.extras{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

.about3bodytext{
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
}

.topicdiv2 h3{
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1%;
  text-align: center;
}

a{
  font-size: 17px;
  color: #ffffff;
}
a:visited{
  color: rgb(70,70,70);
}
img{
  display: block;
  margin: 0 auto;
}
