h1{
  text-align: center;
  font-size: 30px;
}

h2{
  font-family: bebas neue, monsterat;
  /*note to self to edit this and choose 2 fonts*/
  font-size: 18px;
}

.topicdiv{
  border: solid rgba(193,67,71,1) 3px;
  min-width: 70%;
  border-radius: 10px;
  padding: 1% 2%;
  display: inline-flex;
  overflow: auto;
  color: rgb(193,67,71);
  margin: 1% 15%;
  justify-content: space-evenly;
  background-color: rgba(243, 188, 134, 0.9);
}

.topicdiv1{
  width: 1000px;
  height: 740px;
  border: solid rgba(193,67,71,1) 3px;
  margin: 1% 15%;
  min-width: 70%;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-evenly;
  background-color: #282C34;
}

.about2bodytext{
  width: 355px;
  height: 600px;
  border: solid rgba(193,67,71,1) 3px;
  background-color: ; /*note to self*/
  float: left;
  padding: 1% 2%;
  margin: 5px;
  font-size: 13px;
  text-align: justify;
}

img{
  display: block;
  margin: 0 auto;
}

/*[previous]
.topicdiv1{
  border: solid rgba(193,67,71,1) 3px;
  width: 520px;
  height: 600px;
  float: left;
  display: inline-flex;
  overflow: auto;
  margin: 1% 15%;
  background-color: rgba(243,188,134,0.9);
  padding: 1% 2%;
  justify-content: space-evenly;
  border-radius: 10px;
}
