/*end of general css*/
.punchline h4{
  color: rgb(251, 199, 100);
  margin: 0px;
  padding: 0px;
  font-size: 1.05em;
}
.currentPage{
  border: none  rgb(251, 199, 100) 4px;
  border-bottom-style: solid;
}
div #banner{
  width: 100%;
  margin: 0px;
  height: 160px;
  padding: 0px;
}
#banner img{
  width: 100%;
  max-width: 100%;
  height: fit-content;
  object-fit: cover;
}
#hd{
  margin-bottom: 20px;
}
.banner div{
  margin: 0%;
}
#logo img{
  display: flex;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 20px;
  width: auto;
  max-width: 12%;
  max-height: auto;
  height: auto;
}
.header {
  background: rgba(193,67,71,1);  
  text-align: center;
}
.sticky{
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  width: 100%;
}
.sticky + .content {
  padding-top: 2%;
}
.navbar{
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin: 0% 25%; 
  z-index: 10;
}
#navbar{
  z-index: 10;
  background: rgba(193,67,71,1);  
  margin: 0% 0%;
  height: 3.5%;
}


/* Dropdown Button */
.dropbtn {
  background-color: rgb(193,67,71);
  padding: 0px;
  font-size: 1.1em;
  border: none;
  z-index: 10;
}
.dropdown a{
  text-decoration: none;
  color: rgb(251, 199, 100);
}
.dropdown a:hover{
  text-decoration: none;
  color: rgba(251, 199, 100,1);
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60%;
  max-width: 120%;
  padding: 1%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 18px;
  padding: 1%;
  text-decoration: none;
  display: block;
  z-index: 10;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {z-index: 10;text-decoration: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {text-decoration: none; z-index: 10;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
  text-decoration: none;
    animation-name: transition1;
  animation-duration: 0.5s;
}

@keyframes transition1 {
  from {background-color: rgb(193,67,71);}
  to {background-color: rgba(255,255,255,0.5);}
}

/*footer part*/
.footer{
  display:flex;
  justify-content: space-evenly; 
  z-index: 10;
}
#footer{
  z-index: 10;
  background: rgba(86,59,66,1);  
  margin: 0% 20%;
}
#foot{
  padding: 0.5% 0%;
  z-index: 10;
  background: rgba(86,59,66,1); 
}

/* Dropdown Button */
.dropbtn .footer{
  background-color: rgb(86,59,66);
  font-size: 1.2em;
  border: none;
  z-index: 10;
}
.dropdown .footer a{
  font-size: 1em;
  text-decoration: none;
  color: rgb(193,67,71);
}
/* The container <div> - needed to position the dropdown content */
.dropdown .footer{
  position: relative;
  display: inline-flex;
  z-index: 10;
  height: auto;
}
.footer .dropdown .dropbtn {
  height: 20%;
  margin-top: 2.5em;
  background: rgba(86,59,66,1);
  text-decoration: none;
  z-index: 10;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content .footer{
  text-align: left;
  display: none;
  position: absolute;
  min-width: 60%;
  max-width: 120%;
  padding: 1%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content .footer a {
  color: black;
  font-size: 18px;
  padding: 1%;
  display: inline-block;
  z-index: 10;
}

/* Change color of dropdown links on hover */
.dropdown-content .footer a:hover {
  background-color: rgba(86,59,66, 0.1);   
  z-index: 10;
  height: 10;
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .footer .dropdown-content {display: block;  z-index: 10;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.footer .dropdown:hover .dropbtn {
  background-color: rgba(251, 199, 100,0.8);
  text-decoration: underline;
  z-index: 10;
  animation-name: transition;
  animation-duration: 0.5s;
}
.logofooter{
  width: 50%;
  border-radius: 50%;
}
.dropbtnlogo{
  background-color: rgb(86,59,66);
  border-width: 0px;
}
@keyframes transition {
  from {background-color: rgba(86,59,66,1);}
  to {background-color: rgba(251, 199, 100,0.8);}
}
body{
  position: relative;
}
#foot{
  margin-top: 100px;
  position: absolute;
  bottom: -200px;
  width: 100%;
}