
.wholecontent{
  margin: 0% 15%;
}
.punchline h3{
  color: rgb(193,67,71);
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  text-align: center;
  position: relative;
}

.lines{
  width: 100%;
  height: 45px;
  position: relative;

}
.lines::after, .lines::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: rgba(193,67,71,1);
  width: 39%;
  top: 45%;
}

.lines::after{
  left: 0;
}

.lines::before{
  right: 0;
}


.bodytext{
  text-align: center;
  padding: 0% 1%;
  margin: 0% 5%;
}

.topicdiv2{
  border: solid rgba(193,67,71,1) 3px;
  max-width: 50%;
  width: 70%;
  border-radius: 10px;
  padding: 1% 2%;
  overflow: auto;
  color: rgb(193,67,71);
  margin: 1% 15%;
  display: inline-flex;
  justify-content: space-evenly;
  background-color: rgba(243, 188, 134, 0.9);
  font-family: meiryo;
}

.topicdiv2 h2{
  font-family: bebas neue, monsterat;
  /*note to self to edit this and choose 2 fonts*/
  font-size: 18px;
}


.topicdiv{
  border: solid rgba(193,67,71,1) 3px;
  min-width: 50%;
  max-width: 50%;
  border-radius: 10px;
  padding: 1% 2%;
  display: inline-flex;
  overflow: auto;
  color: rgb(193,67,71);
  margin-top: 2%;
  background-color: rgb(33, 33, 33);
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.topicdiv img{
  position: relative;
  padding-left: 5%;
}
  
.bodytext p{
  text-align: justify;
}

.topicdiv p{
  font-size: 17px;
}






/* <div class="wholecontent">
      <center>
      <div class="lines">
      <div class="punchline"><h3>ULING NEWS</h3></div>
    </div>
      <div class="content"><!--class content basically the body-->
        <div class="topicdiv2">
        <insert image here>
        <div class="about1menutext">
          <h2>Are you up to date with the current news about Uling Roasters and more? Here are some news and blogs for our ka-roasters for you to be updated!<br><br> Sumobra sa balita, pasenysa na!</h2>
        </div>
      </div>*/
