body{
    background: #282C34;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #3890E9;
}
.wrapper h1{
    text-transform: uppercase;
    font-family: arial;
    margin-bottom: 10%;
    border: solid black 2px;
    max-width: 20%;
    min-height: 5em;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 1% 20%;
}
textarea.input-box:invalid, textarea:invalid{
    border: solid #FF9191 2px;
}
textarea.input-box, textarea { 
    background: #1A2128; 
    border: solid #9ACD68 2px;
    border-radius: 4px;
    color: white;
}

div.remind{
    color: #FF9191;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 2%;
}
.submit{
    display: flex;
    border: solid #CB96FF 2px;
    border-radius: 8px;
    min-width: 90%;
    max-width: 90%;
    padding:0.5% 2%; 
    overflow: auto;
}
.name{
    width: 50%;
}

.message{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #CB96FF;
    border-radius: 4px;
    resize: none;
}
select{
    border-radius: 4px;
    background: #1A2128;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    padding: 3px;
    border-color: #9ACD68;
}
#button{
    border-radius: 4px;
    margin-bottom: 2%;
    background: #1A2128;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    padding: 3px;
    border-color: #9ACD68;
}
.io{
    width: 100%;
    margin: 2% 2%;
}
.output{
    padding: 1% 2%;
    width: auto;
    border: solid #EDA55D 2px;
    border-radius: 4px;
}
.input{
    margin: 0% 0%;
}
input{
    padding: 1%;
    border: solid #9ACD68 2px;
    border-radius: 4px;
    background: #1A2128;
    color: white;
}
input:invalid{
    border: solid #FF9191 2px;
    border-radius: 4px;
}
input:invalid:focus{
    border: solid #FF9191 2px;
    background: #FF9191;
    border-radius: 4px;
}
input:focus{
    border: solid #9ACD68 2px;
    border-radius: 4px;
}
