.wrapper h1{
    text-transform: uppercase;
    font-family: arial;
    margin-bottom: 10%;
    border: solid black 2px;
    max-width: 20%;
    min-height: 5em;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 1% 20%;
}


.submit{
    display: flex;
    border: solid black 1px;
    min-width: 50%;
    padding:2%; 
}

.message{
    display: flex;
    max-height: auto;
}
.output{
}
.input{
    margin: 0% 0%;
}
input{
    border: solid black 1px;
}
input:invalid{
    background: transparent;
    border: dashed red 1px;
}
input:invalid:focus{
    background-image: linear-gradient(pink,lightpink);
}
input:focus{
    background: rgba(0, 255, 0, 0.1);
}
