 @font-face{
    font-family: Pokemon-Classic;zz
    src: url(Pokemon-Classic.ttf);
}
body{
    background: #de5239;
    margin: 0%;
    padding: 0%;
    font-family: Pokemon-Classic;
}
header{
    background: #ee1515;
    padding: 20px;
}
section{
    background: #222224;
    padding: 1px;
    color: #f0f0f0;
}
footer{
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
}
.pokimg{
    padding: 5px 0px 0px 200px;
    width: 375; 
    height: 375;
    animation: myanimation 2s;
}
.default{
    padding: 0;
    width: 900px; height: 500px;
    margin: auto;
}
@keyframes myanimation {
    from {width: 375px;}
    to {width:500px;}
}