@font-face{
    font-family: Pokemon-Classic;
     src: url(Pokemon-Classic.ttf); 
 }
body{
    background: #f0f0f0;
    margin: 0% ;
    padding: 0%;
    font-family: Pokemon-Classic;
    text-decoration: none;
}
a{
    text-decoration: none;

}
a:visited{
    text-decoration: none;
    color: black;
}
header{
    background: #ee1515;
    padding: 20px;
}
section{
    background: #222224;
    padding: 1px;
    color: #f0f0f0;
}
.gen1{
    background: #f0f0f0;
    margin: 0% 15%;
    padding: 30px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.gen2{
    background: #f0f0f0;
    margin: 0% 15%;
    padding: 30px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.pokemon{
    padding: 10px 0px 0px 0px;
    width: 350PX; height: 300px;
    margin: auto;
}
.leaf a{
    color: #73ac31;
}

#bulbasaur{
color: #73ac31; 
padding: 0%; 
margin: 0%;
animation:playBulbasaur 5s;
background-color: black;
}
.fire a{
    color: #de5239; 
}
#charmander{
    padding: 0%; 
    margin: 0%;
    animation:playBulbasaur 5s;
    background-color: black;
}
.water a{
    color: #8bc5cd; 
}
#squirtle{
    padding: 0%; 
    margin: 0%;
    animation:playBulbasaur 5s;
    background-color: black;
}
.pTitle{
color:black;
}
@keyframes playBulbasaur{
    from{
    color: white;
    background-color: white;
    }
    to{ 
    background-color: black;
    }
}

.pokemon{    
    padding-bottom: 12px;
    border: 5px solid transparent;
            }
.pokemon:hover{
  border: 5px solid red;
}

.pokeImg{
    opacity: 1;
    background-color: transparent;
    animation: appearPokemon 3s;
}
@keyframes appearPokemon{
    0%{
        opacity: 0;
        background: black;

    }
    100%{
        opacity: 1;
    }

}