body{
	background: #099ade;
}
.wrapper{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #828287;
	padding: 50px;
	color: #ffffff;
	text-align: center;
}

.wrapper h1{
	text-transform: uppercase;
	font-family: arial;
	margin-bottom: 10%;
}

input[type="text"]{
	height: 30px;
	font-size: 24px;
	border-color: #fdb813;
}

input[type="sign-area"]{
	background: #ffbf00;
	border: #c29610;
	color: #ffffff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: arial;
	letter-spacing: 2px;
	font-weight: bold;
}

input[id="button"]{
	background: #ffbf00;
	border: #c29610;
	color: #ffffff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: arial;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	margin: auto;
}
