body{
    background: #282C34;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.calc{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #6B859E;
    padding: 50px;
    color: #98c379;
    text-align: center;
}

.calc h1{
    text-transform: uppercase;
    margin-bottom: 10%;
}

input[type="text"]{
    height: 30px;
    font-size: 24px;
    border-color: #CB96FF;
}

input[type="sign"]{
    background: #ffbf00;
    border: black;
    color: black;
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

input[id="button"]{
    background: #282C34;
    border: #CB96FF;
    color: #7DBEFF;
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
