.topicdiv{
  border: solid rgba(193,67,71,1) 3px;
  min-width: 70%;
  border-radius: 10px;
  padding: 1% 2%;
  display: inline-flex;
  overflow: auto;
  color: rgb(193,67,71);
  margin: 1% 15%;
  justify-content: space-evenly;
  background-color: rgba(240,166,93,0.9);
}