body{
	background: #1A2128;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: white;
	margin: 0px 269px;
}
header{
	background-color: #1A2128;
}
.division{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
.navbar{
	text-align: left;
	background: yellow;
	color: black;
	margin: 0px;
}
.nav{
	margin-left: 0;
}

ul{
	display: flex;
}
header ul{
	list-style-type: none;
	margin: 0px;
}
ul li{
	display: flex;
	padding-right: 10px;
}
.punchline{
	text-align: left;
	font-size: 12px;
}

a img{
	width: auto;
	height: 45px;
	margin: 0px;
}

li a{
	text-decoration: none;
	color: black;
}
.mainContent{
	background-color: pink;
	margin: 0px;
	color: black;
}
.fb{
	background: gray;
}
.fb img{
	text-align: right;
	width: auto;
	height: 35px;
	margin: 0px;
}


/* Dropdown Button */
.dropbtn {
	background-color: green;
  padding: 5px;
  font-size: 14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	text-align: left;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: initial;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 12px;
  padding: 0px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
