body{
  background: rgba(220, 180, 108, 1);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(193,67,71);
  margin: 0% 0%;
  padding: 0px;
}

.punchline h4{
  color: rgb(193,67,71);
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  text-align: center;
}
.bodytext{
  text-align: center;
  padding: 0% 10%;
}

.topicdiv{
  border: solid rgba(193,67,71,1) 3px;
  min-width: 70%;
  border-radius: 10px;
  padding: 1% 2%;
  display: inline-flex;
  overflow: auto;
  color: rgb(193,67,71);
  margin: 1% 15%;
  justify-content: space-evenly;
  background-color: rgb(33, 33, 33);
}
  


.topicdiv p{
  font-size: 20px;
}